<!DOCTYPE html>
<html>
<head>
    <title>BootstrapVue</title>

    <!-- Add Bootstrap, Bootstrap-Vue CSS, Vue,
    Babel, and Bootstrap-Vue JS to the <head> section -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <!-- Add this after vue.js -->
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <!-- Lodash -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    
    <!-- Application Themes -->
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app" class="container-fluid">
        <div class="row">
            <h1 class="display-4">ImprovementTracker</h1>
        </div>
        <div class="row">
            <div class="col">

                <!-- Improvement Filters -->
                <h3>Filter</h3>
                <filter-objectives :objectives=objectivesData></filter-objectives>

            </div>
            <div class="col-10 col-centered">

                <!-- Display user alerts -->
                <user-alert v-for="alert in alertData" :key=alert.id :alert-msg=alert.message></user-alert>
                
                <div class="row my-4">
                    <div class="col">
                        <b-form-input placeholder="Search" v-model="searchString"></b-form-input>
                    </div>
                    <div class="col-sm-4">
                        <!-- Add improvement form -->
                        <add-improvement></add-improvement>
                    </div>
                </div>

                <!-- Show improvement data -->
                <div class="row">
                    <template>
                        <b-table striped hover
                         :items="improvementsData"
                         :fields="fields"
                         @row-clicked="rowClicked"></b-table>
                    </template>
                </div>

            </div>
            <!--<div class="col">
            </div>-->
        </div>
    </div>
    
    <script src="userAlertComponent.js"></script>
    <script src="addBenefitsComponent.js"></script>
    <script src="addImprovementComponent.js"></script>
    <script src="filterObjectivesComponent.js"></script>
    <script>
        // Main app component
        var app = new Vue({
            el: '#app',
            data: {
                alertData: null,
                objectivesData: null,
                
                // Table data
                fields: [
                    {
                        key: 'name',
                        label: 'Improvement',
                        sortable: true
                    },
                    {
                        key: 'description',
                        label: 'Description'
                    }
                ],
                improvementsData: [],

                searchString: null
            },
            mounted () {
                // Load alerts data
                axios
                    .get("http://127.0.0.1:8080/improvements/alerts")
                    .then(response => (this.alertData = response.data))
                    .catch(error => console.log(error));
                axios
                    .get("http://127.0.0.1:8080/improvements/objectives")
                    .then(response => (this.objectivesData = response.data))
                    .catch(error => console.log(error));
                axios
                    .get("http://127.0.0.1:8080/improvements")
                    .then(response => (this.improvementsData = response.data))
                    .catch(error => console.log(error));
            },
            methods: {
                rowClicked(record, index) {
                    console.log("A");
                }
            }
        });
    </script>
</body>
</html>