<!DOCTYPE html>
<html>
<head>
    <title>Improvement Tracker</title>

    <!-- Scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <link href="activityFeedStyle.css" rel="stylesheet">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

</head>
<body>
    
    <div id="app" class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-8">
                <!-- Render user alerts -->
                <user-alert v-for="alert in alertData" :key=alert.id :alert-msg=alert.message></user-alert>

                <!-- Title and description -->
                <form>

                    <!-- Title/Description -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="...">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea rows="3" class="form-control" placeholder="..."></textarea>
                        </div>
                    </div>

                    <!-- Objectives -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Objectives</label>
                        <div class="col-sm-10">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button v-for="objective in objectives" class="dropdown-item" type="button">{{ objective.name }}</button>
                                    <div class="dropdown-divider"></div>
                                    <!-- Open a new dialog to add objectives -->
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter">
                                        Add New Objective
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Add new objective dialog -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Manage Objectives</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group row">
                                            <input id="objectiveName" v-model="objName" type="text" class="form-control" placeholder="New Objective">
                                        </div>
                                        <div class="form-group row">
                                            <textarea id="objectiveDescription" v-model="objDescription" rows="3" class="form-control" placeholder="Business Objective Description"></textarea>
                                        </div>
                                        <div class="form-group row">
                                            <button v-on:click="addObjective" type="button" id="addObjective" class="btn btn-light">Add</button>
                                        </div>
                                        <div class="form-group row">
                                            <div class="list-group">
                                                <a href="#" v-for="objective in objectives" class="list-group-item list-group-item-action flex-column align-items-start">
                                                    <h5 class="mb-1">{{ objective.name }}</h5>
                                                    <p class="mb-1">{{ objective.description }}</p>
                                                </a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Predicted Benefits -->
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Predicted Benefits</label>
                        <div class="col-sm-10">
                            <!-- Add new benefit dropdown -->
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Add
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <button class="dropdown-item" type="button">Time</button>
                                    <button class="dropdown-item" type="button">Great Place to Work</button>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        Add New Benefit Category
                                    </a>
                                </div>
                            `</div>
                        </div>
                    </div>
                    <div v-for="benefit in benefitsData" class="form-group row">
                            <!-- Expand the benefits dropdown -->
                            <div class="card w-100">
                                <div class="card-header">
                                    {{ benefit.category }}
                                    <a href="#" class="close" aria-label="close">
                                        &times;
                                    </a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">
                                        {{ benefit.description }}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="col">

            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".close").click(function(){
                $("#myAlert").alert("close");
            });
            $("#myAlert").on('close.bs.alert', function(){
                console.log("Whoop");
            });
        });
    </script>

    <script>

        // User alert component
        Vue.component('user-alert', {
            props: ['alert-msg'],
            template:
            `<div class="alert alert-info alert-dismissible">
                <a href="#" class="close" aria-label="close">
                    &times;
                </a>
                {{ alertMsg }}
            </div>`
        });

        // Main app component
        var app = new Vue({
            el: '#app',
            data: {
                // Alerts Data
                alertData: null,
                // Benefits Data
                benefitsData: [{
                    category: "Time",
                    description: `Users reduce the amount of time
                    they need to spend reviewing work`
                },
                {
                    category: "Great Place to Work",
                    description: `Users have access to best in class
                    tooling, and feel listened to`
                }],
                // Objectives Data
                objName: null,
                objDescription: null,
                objectives: null
            },
            mounted () {
                axios
                    .get("http://127.0.0.1:8080/improvements/alerts")
                    .then(response => (this.alertData = response.data))
                    .catch(error => console.log(error));
                axios
                    .get("http://127.0.0.1:8080/improvements/objectives")
                    .then(response => (app.objectives = response.data))
                    .catch(error => console.log(error));
            },
            methods: {
                addObjective: function () {
                    axios
                        .post("http://127.0.0.1:8080/improvements/objectives", {
                            name: this.objName,
                            description: this.objDescription
                        })
                        .then(response => console.log(response))
                        .catch(error => console.log(error));
                    console.log("Hello");
                }
            }
        });

    </script>

</body>
</html>